<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Топ 10 фильмов</h1>
    </div>
    <div class="col-md-8 headerList">
      <label class="searchFieldLabel"> Поиск по названию: </label>
      <input
        class="searchField"
        placeholder="Поиск"
        [formControl]="inputFilmName"
        id="search"
      />
    </div>
  </div>
  <app-film-item
    *ngFor="let film of filteredFilms$ | async"
    [film]="film"
  ></app-film-item>
</div>

<div class="container"></div>
