<div class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="margin-left: 30px"> KinoTop</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Фильмы </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"> Профиль </a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1> Топ 10 фильмов</h1>
  </div>

  <div class="list-group">
    <div class="list-group-item">
      <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/4057c4b8-8208-4a04-b169-26b0661453e3/68x102" alt="">
    </div>
  </div>
</div>

<div class="container">

</div>

